<div class="col-md-6">
  <% @timeslots_morning.each do |t| %>
    <% if t.booking_id.nil?  %>
      <p><%= link_to t.start_time.strftime('%I:%M %p'), reschedule_confirm_path( { company_id: t.tradesman.company_id, timeslot_id: t.id, current_booking_id: @current_booking.id } ), class: 'btn btn-success', remote: true %></p>
    <% end %>
  <% end %>
</div>
<div class="col-md-6">
  <% @timeslots_afternoon.each do |t| %>
    <% if t.booking_id.nil?  %>
      <p><%= link_to t.start_time.strftime('%I:%M %p'), reschedule_confirm_path( { company_id: t.tradesman.company_id, timeslot_id: t.id, current_booking_id: @current_booking.id } ), class: 'btn btn-success', remote: true %></p>
    <% end %>
  <% end %>
</div>
<script>
  $('.btn').click(function() {
    $('.btn').removeClass('btn-success').addClass('btn-success');
    $(this).addClass('btn-primary').removeClass('btn-success');
  });
</script>
