<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="col-md-3 col-md-offset-1">
      <div class="form-group">
          <div class='input-group date' id='datepicker'>
            <span class="input-group-addon">
              <%= f.label :date %><br />
              <%= f.datetime_select :date %>
              <%= javascript_include_tag( 'datepicker.js' ) %>
            </span>
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <%= link_to "request", @company, class: 'btn btn-primary', remote: true %>
    <p id="here"></p>
  </div>
</div>
